<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/favicon.jpeg" sizes="32x32" type="image/jpeg">
  <link rel="stylesheet" href="./public/css/style.css">  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
    <link rel="handlebars" href="./homepage.handlebars">


 
  <title>Spartan Search</title>
</head>

<body>
  <header>
    <h2><a href="index.html"><i class="fas fa-code"></i>
        Spartan Search</a></h2>
    <nav>
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="Spartan-Search.html">All Jobs</a>
        </li>
        <li>
          <a href="add.html">Add Jobs</a>
        </li>
      </ul>
    </nav>
  </header>

  <section id="search" class="search-wrap">
    <h1>Spartan Search</h1>
    <form action="spartan search.html" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="Lets find a job">
      <input type="submit" value="Search">
    </form>
  </section>
</body>

</html>
